.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}
.order-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.list{
    border: 1px solid purple;
    padding: 5px;
    margin-right: 15px;
    border-radius: 20%;
    border: none;
    background-color: purple;
    color: white;
}
.main{
    margin-top: 30px;
    border: 1px solid red;
    height: 250px;
    background-color: aqua;
    margin-top: 5px;
    position: relative;
    
}
.text{
    text-align: center;
}
.sub-div{
    position: absolute;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    background-color: black;
    /* margin-left: 50px; */
    left: 50px;
    margin-top: -90px;
    
}
.z{
    height: 50px;
    width: 50px;
    background-color: azure;
    left: 50%;
    position: absolute;
}
.main:hover{
    z-index: 2;
}
.main-box{
border: 1px solid red;
background-color: red;
width: auto;
height: auto;
display: flex;
flex-direction: row;
/* justify-content: center; */
justify-content: space-between;
align-items: center;
gap: 10px;
}
.box-1,.box-2, .box-3, .box-4 {
    border: 1px solid green;
    background-color: bisque;
    height: 60px;
    width: 60px;
}
/* grid related */
.grid-box{
    width: auto;
    height: auto;
    border: 1px solid yellow;
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-items: center;
    gap: 10px;

}
.grid-box-sub{
    border: 1px solid black;
    height: 70px;
    width: 70px;
    background-color: white;
    text-align: center;
}